<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contracts</title>
    <link rel="shortcut icon" type="image/png" href="https://www.siyoutechnology.online/img/right-home-image.png" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
    
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="http://localhost:3156/Home.cshtml" class="nav-link"><i class="fas fa-home"></i></a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="text" placeholder="Search" id="MySearch" onkeyup="myFunction1()" autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-navy elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/Content/dist/img/right-home-image.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">SiyouParking</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/dist/img/avat.svg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                             style="opacity: .8">
                        <span id="spanUsername" class="text-light"></span>
                    </div>
                    <div class="info">
                        <a href="#" class="d-block"></a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->

                        <p class="nav-header">Menubar</p>  
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="Mymenu">
                        <li class="nav-item has-treeview" id="users">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-secret"></i>
                                <p>
                                    Users
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="http://localhost:3156/Admins.cshtml" class="nav-link">
                                        <i class="nav-icon fas fa-user-circle"></i>
                                        <p>Admins</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://localhost:3156/Owners.cshtml" class="nav-link">
                                        <i class="nav-icon fas fa-user-circle"></i>
                                        <p>Owners</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview" id="par">
                            <a href="http://localhost:3156/Parking.cshtml" class="nav-link">
                                <i class="nav-icon fas fa-parking"></i>
                                <p>
                                    Parking
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" id="sess">
                            <a href="http://localhost:3156/ParkingSessions.cshtml" class="nav-link">
                                <i class="nav-icon fab fa-tripadvisor"></i>
                                <p>
                                    Sessions
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3156/Renters.cshtml" id="renter" class="nav-link">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>Renters</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="http://localhost:3156/Vehicles.cshtml" id="veh" class="nav-link">
                                <i class="nav-icon fas fa-car"></i>
                                <p>
                                    Vehicle
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="http://localhost:3156/Contracts.cshtml" class="nav-link">
                                <i class="nav-icon fas fa-file-contract"></i>
                                <p>
                                    Contracts
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="http://localhost:3156/Home.cshtml" class="nav-link">
                                <i class="nav-icon fas fa-id-badge"></i>
                                <p>
                                    Profile
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="http://localhost:3156/siyouTech.html" onclick="remove()" class="nav-link">
                                <i class="nav-icon  fas fa-sign-out-alt text-danger"></i>
                                <p>
                                    Logout
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper" style="min-height: 290px;">
            <div class="content-header">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box" id="buton">
                        <button type="button" class="info-box-icon btn bg-info elevation-1" data-toggle='modal' data-target="#PostModal"><i class="fas fa-file-contract"></i></button>
                        <div class="info-box-content">
                            <span class="info-box-text">New Contract</span>
                            <span class="info-box-number">
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="row mb-12">
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-gray" style="margin-top: 5px;">
                                    <div class="card-header border-transparent">
                                        <h3 class="card-title"></h3>
                                        <div class="card-tools">
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" id="searchcontract" onkeyup="myFunction()">
                                                <div class="input-group-append">
                                                </div>
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table id="ContractTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Renter</th>
                                                        <th>Parking</th>
                                                        <th>Rent Time</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <div id="try" class="card-footer clearfix">
                                                <ul id="pag" class="pagination pagination-sm m-0 float-right">
                                                 
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--DELETE-->
            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-maroon">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST" enctype="multipart/form-data" id="ModalForm">
                                <div class="form-group">
                                    <input type="hidden" name="ID" class="form-control" id="editId">
                                    <p>Are you Sure!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="Delete(this)" class="btn btn-warning" data-id="Contract.Id" data-dismiss="modal">Delete</button>
                                    <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST" enctype="multipart/form-data" id="ModalForm">
                                <div class="form-group">
                                    <input type="hidden" name="ID" class="form-control" id="editId" required>
                                </div>           
                                <div class="form-group">
                                    <label for="date">Contract Expiration</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="edittime" data-target="#reservationdate" required>
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text bg-secondary"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>             
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" onclick="ContractUpdate(this)" class="btn bg-olive" data-id="Contract.Id" data-dismiss="modal"><i class="fas fa-save"></i></button>
                                    <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Post Modal -->
            <div class="modal fade" id="PostModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">New contract</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST" enctype="multipart/form-data" id="ModalForm">
                                    <div class="form-group">
                                        <select class="browser-default custom-select" id="RenterList" required>
                                            <option selected>Choose a Renter</option>
                                        </select>
                                    </div>
                                <div class="form-group">
                                    <select class="browser-default custom-select" id="parkinglist" required>
                                        <option selected>Choose a Parking</option>
                                    </select>
                                </div>
                                    <label for="rentdate">Authorization date</label>
                                    <div class="form-group">
                                        <div class="input-group date" id="rreservationdate" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#rreservationdate" id="rentdate" required>
                                            <div class="input-group-append" data-target="#rreservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text bg-secondary"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>                              
                                        </div>
                                    <label for="enddate">Expiration date</label>
                                    <div class="form-group">
                                        <div class="input-group date" id="resservationdate" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#resservationdate" id="enddate" required>
                                            <div class="input-group-append" data-target="#resservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text bg-secondary"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>             
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="PostContract()" class="btn bg-olive" data-dismiss="modal"><i class="fas fa-save"></i></button>
                                        <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Consult-->
            <div class="modal fade" id="ConsultModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Consult Contract</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST" enctype="multipart/form-data" id="ModalForm">
                                <div class="form-group">
                                    <input type="hidden" name="ID" class="form-control" id="ConsId" required>
                                    <input type="hidden" name="UserID" class="form-control" id="ConsUserId" required>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="renter">Renter</label>
                                        <input type="text" name="renter" class="form-control-plaintext" id="ConsRenter" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="phone">Renter Phone</label>
                                        <input type="text" name="renter" class="form-control-plaintext" id="ConsPhone" readonly>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="parking">Parking</label>
                                        <input type="text" name="parking" class="form-control-plaintext" id="ConsParking" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="parkingstate">Parking position</label>
                                        <input type="text" name="position" class="form-control-plaintext" id="Consposition" readonly>
                                    </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="rent">Authorization date</label>
                                                <input type="text" name="rent" class="form-control-plaintext" id="ConsRent" readonly>
                                            </div>
                                        <div class="form-group col-md-6">
                                            <label for="end">Expiration date</label>
                                            <input type="text" name="end" class="form-control-plaintext" id="ConsEnd" readonly>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info" data-dismiss="modal"><i class="fas fa-check-square"></i></button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Consult-->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>



        <!-- ./wrapper -->
        <!-- jQuery -->
        <script src="~/Content/plugins/jquery/jquery.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
                        $.widget.bridge('uibutton', $.ui.button)
        </script>
        <!-- Bootstrap 4 -->
        <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- ChartJS -->
        <script src="~/Content/plugins/chart.js/Chart.min.js"></script>
        <!-- Sparkline -->
        <script src="~/Content/plugins/sparklines/sparkline.js"></script>
        <!-- JQVMap -->
        <script src="~/Content/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/Content/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="~/Content/plugins/jquery-knob/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="~/Content/plugins/moment/moment.min.js"></script>
        <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- Summernote -->
        <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="~/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/Content/dist/js/adminlte.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="~/Content/dist/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/Content/dist/js/demo.js"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            $('#try').after('<ul class="pagination pagination-sm m-0 float-right" id="pag"></ul>');
            var rowsShown = 4;
            var numLimit = 1;
            var rowsTotal = $('#ContractTable tbody tr').length;
            var numPages = rowsTotal / rowsShown;
            for (var i = 0; i < numPages; i++) {
                var pageNum = i + 1;
                $('#pag').append('<li class="page-item" ><a class="btn nums page-link" href="#" rel="' + i + '">' + pageNum + '</a></li>');

            }
            $('#ContractTable tbody tr').hide();
            $('#ContractTable tbody tr').slice(0, rowsShown).show();
            $('#pag a:first').addClass('active').css("color", "blue");
            if (numPages >= numLimit) {
                $('#pag').append('<li  class="page-item" ><a class="btn page-link" href="#" rel="next">>></a></li> ');
                $('#pag').prepend('<li  class="page-item" ><a  class="btn page-link" href="#" rel="prev" style="display:none"><<</a></li> ');
                $('#pag').append('<li  class="page-item" ><a class="btn page-link" href="#" rel="last">>>|</a></li>');
                $('#pag').prepend('<li  class="page-item" ><a class="btn page-link" href="#" rel="first" style="display:none">|<<</a></li> ');
            }
            $('#pag').on('click', 'a', function () {
                var $nums = $('.nums');
                var currPage = $(this).attr('rel');
                if (currPage == "next") {
                    currPage = $('#pag a.active').attr('rel');
                    currPage++;
                } else if (currPage == "prev") {
                    currPage = $('#pag a.active').attr('rel');
                    currPage--;
                }
                if (currPage == "first") {
                    $nums.first().trigger('click');
                    return false;
                } else if (currPage == "last") {
                    $nums.last().trigger('click');
                    return false;
                }
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#pag a').removeClass('active').css("color", "black");;
                $('#pag a[rel="' + currPage + '"]').addClass('active').css("color", "blue");
                $('#ContractTable tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'table-row').animate({
                    opacity: 1
                }, 300);
                if ($nums.last().hasClass('active'))
                    $('#pag a[rel="next"]').hide();
                else
                    $('#pag a[rel="next"]').show();
                if (!$nums.first().hasClass('active'))
                    $('#pag a[rel="prev"]').show();
                else
                    $('#pag a[rel="prev"]').hide();
                $nums.hide();
                if (numLimit < 1)
                    numLimit = 2;
                var $temp = {};
                if ($nums.filter('.active').is($nums.first())) {
                    $('#pag a[rel="first"]').hide();
                    $('#pag a[rel="last"]').show();
                    $temp = $nums.first().show();
                    for (var j = 0; j < numLimit; j++) {
                        $temp = $temp.next().show();
                    }
                }
                else if ($nums.filter('.active').is($nums.last())) {
                    $('#pag a[rel="last"]').hide();
                    $('#pag a[rel="first"]').show();
                    $temp = $nums.last().show();
                    for (var j = 0; j < numLimit; j++) {
                        $temp = $temp.prev().show();
                    }
                }
                else {
                    $('#pag a[rel="first"]').show();
                    $('#pag a[rel="last"]').show();
                    $temp = $('#pag a[rel="' + currPage + '"]').show();
                    for (var j = 0; j < numLimit; j++) {
                        $temp = $temp.prev().show();
                    }
                    $temp = $('#pag a[rel="' + currPage + '"]').show();
                    for (var j = 0; j < numLimit; j++) {
                        $temp = $temp.next().show();
                    }
                }
            }).find('a.active').trigger('click');
        });
        </script>
        <script>
            function myFunction1() {
              // Declare variables
              var input, filter, ul, li, a, i;
              input = document.getElementById("MySearch");
              filter = input.value.toUpperCase();
              ul = document.getElementById("Mymenu");
              li = ul.getElementsByTagName("li");

              // Loop through all list items, and hide those who don't match the search query
              for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
                } else {
                  li[i].style.display = "none";
                }
              }
            }
        </script>
        <script type="text/javascript">
            var role2 = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (role2 == "Admin") {
                    $('#sess').show();
                };
            });
            $(document).ready(function () {
                if (role2 == "Owner") {
                    $('#sess').hide();
                }
            });
        </script>
        <script type="text/javascript">
            var role1 = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (role1 == "Admin") {
                    $('#par').show();
                };
            });
            $(document).ready(function () {
                if (role1 == "Owner") {
                    $('#par').hide();
                }
            });
        </script>
        <script type="text/javascript">
            var rol = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (rol == "Admin") {
                    $('#users').show();
                };
            });
            $(document).ready(function () {
                if (rol == "Owner") {
                    $('#users').hide();
                }
            });
        </script>
        <script type="text/javascript">
            var rol4 = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (rol4 == "Admin") {
                    $('#buton').hide();
                };
            });
            $(document).ready(function () {
                if (rol4 == "Owner") {
                    $('#buton').show();
                }
            });
        </script>
        <script type="text/javascript">
            var rol = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (rol == "Admin") {
                    $('#renter').hide();
                };
            });
            $(document).ready(function () {
                if (rol == "Owner") {
                    $('#renter').show();
                }
            });
        </script>
        <script type="text/javascript">
            var roll = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (roll == "Admin") {
                    $('#veh').hide();
                };
            });
            $(document).ready(function () {
                if (roll == "Owner") {
                    $('#veh').show();
                }
            });
        </script>
        <script>
          $('#reservationdate').datetimepicker({
              format: 'L'
          });
          $('#rreservationdate').datetimepicker({
              format: 'L'
          });
          $('#resservationdate').datetimepicker({
              format: 'L'
          });
        </script>
</body>
</html>
<script src="Scripts/jquery-1.10.2.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    //dropdown renter
    function RenterList() {
        var userid = window.localStorage.getItem('ID');
        // Call Web API to get a list of Admins
        $.ajax({
            url: 'api/renters/getbyuser/' + userid,
            type: 'GET',
            dataType: 'json',
            success: function (Renters) {
                RenterListSuccess(Renters);
            },
            error: function (request, message, error) {
                handleExceptione(request, message, error);
            }
        });
    }
    function RenterListSuccess(Renters) {
        // Iterate over the collection of data
        $.each(Renters, function (index, Renter) {
            // Add a row to the Admin table
            $("#RenterList").append("<option value=" + Renter.Id + ">" + Renter.Name + "</option>");
        });
    }
    function handleExceptione(request, message,
                         error) {
        var msg = "";
        msg += "Code: " + request.status + "\n";
        msg += "Text: " + request.statusText + "\n";
        if (request.responseJSON != null) {
            msg += "Message" +
                request.responseJSON.Message + "\n";
        }
        alert(msg);
    }
    $(document).ready(function () {
        RenterList();
    });
    //dropdown parking
    function ParkingList() {
        // Call Web API to get a list of users
        var userid = window.localStorage.getItem('ID');
        $.ajax({
            url: 'api/parkings/getbyuser/' + userid,
            type: 'GET',
            dataType: 'json',
            success: function (Parkings) {
                ParkingListSuccess(Parkings);
            },
            error: function (request, message, error) {
                handleExceptione(request, message, error);
            }
        });
    }
    function ParkingListSuccess(Parkings) {
        // Iterate over the collection of data
        $.each(Parkings, function (index, Parking) {
            // Add a row to the Admin table
            $("#parkinglist").append("<option value=" + Parking.Id + " >" + Parking.Position + "</option>");
        });
    }
    function handleExceptione(request, message,
                         error) {
        var msg = "";
        msg += "Code: " + request.status + "\n";
        msg += "Text: " + request.statusText + "\n";
        if (request.responseJSON != null) {
            msg += "Message" +
                request.responseJSON.Message + "\n";
        }
        alert(msg);
    }
    $(document).ready(function () {
        ParkingList();
    });
//GETBYID
    function ContractGet(ctl) {
        var id = $(ctl).data("id");
        $.ajax({
            url: "api/contracts/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (Contract) {
                ContractToFields(Contract);
            },
            error: function (request, message, error) {
                handleException(request, message, error);
            }
        });
    }
    function ContractToFields(Contract) {
        $("#editId").val(Contract.Id);
        $("#edittime").val(Contract.End_rent);
    }
    //ConsultGETBYID
    function showContractGet(ctl) {
        var id = $(ctl).data("id");
        $.ajax({
            url: "api/contracts/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (Contract) {
                showContractToFields(Contract);
                RenterGet(ctl);
            },
            error: function (request, message, error) {
                handleException(request, message, error);
            }
        });
    }
    function showContractToFields(Contract) {
        $("#ConsId").val(Contract.Id);
        $("#ConsUserId").val(Contract.RenterId);
        $("#ConsParking").val(Contract.ParkingId);
        $("#ConsRent").val(Contract.Rent);
        $("#ConsEnd").val(Contract.End_rent);
    }
    //RenterGETBYID
    function RenterGet(ctl) {
        var id = $("#ConsUserId").val();
        $.ajax({
            url: "api/renters/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (Renter) {
                RenterToFields(Renter);
                ParkingGet(ctl);
            },
            error: function (request, message, error) {
                handleException(request, message, error);
            }
        });
    }
    function RenterToFields(Renter) {
        $("#ConsUserId").val(Renter.Id);
        $("#ConsRenter").val(Renter.Name);
        $("#ConsPhone").val(Renter.Phone);
    }
    //ParkingGETBYID
    function ParkingGet(ctl) {
        var id = $("#ConsParking").val();
        $.ajax({
            url: "/api/parkings/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (Parking) {
                ParkingToFields(Parking);
            },
            error: function (request, message, error) {
                handleException(request, message, error);
            }
        });
    }
    function ParkingToFields(Parking) {
        $("#ConsParking").val(Parking.Id);
        $("#Consposition").val(Parking.Position);
    }
    //DELETE
    function Delete(ctl) {
        var id = $("#editId").val();
        $.ajax({
            url: "api/contracts/DeleteContract/" + id,
            type: 'DELETE',
            success: function () {
                alert("Deleted!");
                window.location.href = "http://localhost:3156/Contracts.cshtml";

            },
            error: function (request, message, error) {
            handleException(request, message, error);
        }
        });
    }
        //UPDATE
    function ContractUpdate(Contract) {
            var id = $("#editId").val();
            var Contract = {};
            Contract.End_rent = $("#edittime").val();
            $.ajax({
                url: "api/contracts/" + id,
                type: 'PUT',
                contentType:
                   "application/json;charset=utf-8",
                data: JSON.stringify(Contract),
                dataType: "JSON",
                success: function (response) {
                    alert("updated successfully!");
                    window.location.href = "http://localhost:3156/Contracts.cshtml";
                },

            });
        }
        //POST
    function PostContract() {
        var e = document.getElementById("RenterList");
        var strRenter = e.options[e.selectedIndex].text;
        var strRenter = e.options[e.selectedIndex].value;
        var l = document.getElementById("parkinglist");
        var strParking = l.options[l.selectedIndex].text;
        var strParking = l.options[l.selectedIndex].value;
            $.ajax({
                url: 'api/contracts/Post',
                method: 'POST',
                data: {
                    RenterId: strRenter,
                    ParkingId: strParking,
                    Rent: $('#rentdate').val(),
                    End_rent: $('#enddate').val(),
                },
                success: function () {
                    window.location.href = "http://localhost:3156/Contracts.cshtml";
                }
            });
    }

    var role = window.localStorage.getItem("Role");
    var userid = window.localStorage.getItem("ID");
    if (role == "Owner") {
        //ListofContract
        function ContractList() {
            // Call Web API to get a list of Admins
            $.ajax({
                url: 'api/Contracts/getbyuserid/' + userid,
                type: 'GET',
                dataType: 'json',
                success: function (Contracts) {
                    ContractListSuccess(Contracts);
                },
                error: function (request, message, error) {
                    handleException(request, message, error);
                }
            });
        }
        function ContractListSuccess(Contracts) {
            // Iterate over the collection of data
            $.each(Contracts, function (index, Contract) {
                // Add a row to the Admin table
                ContractAddRow(Contract);
            });
        }
        function ContractAddRow(Contract) {
            // Check if <tbody> tag exists, add one if not
            if ($("#ContractTable tbody").length == 0) {
                $("#ContractTable").append("<tbody></tbody>");
            }
            // Append row to <table>
            $("#ContractTable tbody").append(
              ContractBuildTableRow(Contract));
        }
        function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
        function ContractBuildTableRow(Contract) {
            var ret =
               "<tr>" +
               "<td>" + Contract.Id + "</td>" +
                "<td>" + Contract.RenterId + "</td>" +
                    "<td>" + Contract.ParkingId + "</td>"
                     + "<td>" + " from " + Contract.Rent + " to " + Contract.End_rent + "</td>" +
                         "<td>" +
      "<button type='button' " + "onclick='ContractGet(this)'" + "data-toggle='modal'" + "data-target='#editModal'" + "class='btn bg-info' " + "data-id='" + Contract.Id + "'>" + "<i class='fas fa-user-edit'></i>" +
      "</button>" + " " + "<button type='button' " + "onclick='ContractGet(this)'" + "data-toggle='modal'" + "data-target='#DeleteModal'" + "class='btn bg-maroon' " + "data-id='" + Contract.Id + "'>" + "<i class='fas fa-trash-alt'></i>" +
      "</button>" +
      " " + "<button type='button'" + "onclick='showContractGet(this)' " + "data-toggle='modal'" + "data-target='#ConsultModal'" + "class='btn btn-outline-warning' " + "data-id='" + Contract.Id + "'>" + "<i class='fas fa-eye'></i>" +
      "</button>" +
    "</td>" +
                   "</tr>";
            return ret;
        }
        function handleException(request, message,
                             error) {
            var msg = "";
            msg += "Code: " + request.status + "\n";
            msg += "Text: " + request.statusText + "\n";
            if (request.responseJSON != null) {
                msg += "Message" +
                    request.responseJSON.Message + "\n";
            }
            alert(msg);
        }
        $(document).ready(function () {
            ContractList();
        });
        $(document).getElementByClass('.btn btn-default').addEventListener('click', function () {
            document.querySelector('#getmodal').style.display = 'flex';
        });
    }
    if (role == "Admin") {
        //ListofContract
        function ContractList() {
            // Call Web API to get a list of Admins
            $.ajax({
                url: 'api/Contracts/' ,
                type: 'GET',
                dataType: 'json',
                success: function (Contracts) {
                    ContractListSuccess(Contracts);
                },
                error: function (request, message, error) {
                    handleException(request, message, error);
                }
            });
        }
        function ContractListSuccess(Contracts) {
            // Iterate over the collection of data
            $.each(Contracts, function (index, Contract) {
                // Add a row to the Admin table
                ContractAddRow(Contract);
            });
        }
        function ContractAddRow(Contract) {
            // Check if <tbody> tag exists, add one if not
            if ($("#ContractTable tbody").length == 0) {
                $("#ContractTable").append("<tbody></tbody>");
            }
            // Append row to <table>
            $("#ContractTable tbody").append(
              ContractBuildTableRow(Contract));
        }
        function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
        function ContractBuildTableRow(Contract) {
            var ret =
               "<tr>" +
               "<td>" + Contract.Id + "</td>" +
                "<td>" + Contract.RenterId + "</td>" +
                    "<td>" + Contract.ParkingId + "</td>"
                     + "<td>" + " from " + Contract.Rent + " to " + Contract.End_rent + "</td>" +
                         "<td>" +
      //"<button type='button' " + "onclick='ContractGet(this)'" + "data-toggle='modal'" + "data-target='#editModal'" + "class='btn bg-info' " + "data-id='" + Contract.Id + "'>" + "<i class='fas fa-user-edit'></i>" +
      //"</button>" + " " + "<button type='button' " + "onclick='ContractGet(this)'" + "data-toggle='modal'" + "data-target='#DeleteModal'" + "class='btn bg-maroon' " + "data-id='" + Contract.Id + "'>" + "<i class='fas fa-trash-alt'></i>" +
      //"</button>" +
      " " + "<button type='button'" + "onclick='showContractGet(this)' " + "data-toggle='modal'" + "data-target='#ConsultModal'" + "class='btn btn-outline-warning' " + "data-id='" + Contract.Id + "'>" + "<i class='fas fa-eye'></i>" +
      "</button>" +
    "</td>" +
                   "</tr>";
            return ret;
        }
        function handleException(request, message,
                             error) {
            var msg = "";
            msg += "Code: " + request.status + "\n";
            msg += "Text: " + request.statusText + "\n";
            if (request.responseJSON != null) {
                msg += "Message" +
                    request.responseJSON.Message + "\n";
            }
            alert(msg);
        }
        $(document).ready(function () {
            ContractList();
        });
        $(document).getElementByClass('.btn btn-default').addEventListener('click', function () {
            document.querySelector('#getmodal').style.display = 'flex';
        });
    }
    //search
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchcontract");
        filter = input.value.toUpperCase();
        table = document.getElementById("ContractTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function remove() {

        window.localStorage.clear();
    }
</script>
    <script type="text/javascript">
    $(document).ready(function () {

        $('#spanUsername').text(localStorage.getItem("userName"));
    });

</script>
<style>
    .myModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .PostModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }
        h5 {
         color: #000000;
        font-weight: bold;
        display: block;
        width: 150px;
        float: left;

 }
 label {
        color: rgb(0,0,0);
        font-weight: bold;
        display: block;
        width: 150px;
        float: left;
    }
 label:after { content: ": " }
    /* The Close Button */
    .close {
        color: red;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
