<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <link rel="shortcut icon" type="image/png" href="https://www.siyoutechnology.online/img/right-home-image.png" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
            var rol = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (rol == "Admin") {
                    $('#users').show();
                };
            });
            $(document).ready(function () {
                if (rol == "Owner") {
                    $('#users').hide();
                }
            });
    </script>
    <script type="text/javascript">
            var roll = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (roll == "Admin") {
                    $('#par').show();
                };
            });
            $(document).ready(function () {
                if (roll == "Owner") {
                    $('#par').hide();
                }
            });
    </script>
    <script type="text/javascript">
            var rolll = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (rolll == "Admin") {
                    $('#sess').show();
                };
            });
            $(document).ready(function () {
                if (rolll == "Owner") {
                    $('#sess').hide();
                }
            });
    </script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-navy">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="http://localhost:3156/Home.cshtml" class="nav-link"><i class="fas fa-home"></i></a>
                </li>
            </ul>
            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="text" placeholder="Search" id="MySearch" onkeyup="myFunction()" autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-navy elevation-4">
            <!-- Brand Logo -->
            <a href="http://localhost:3156/Home.cshtml" class="brand-link">
                <img src="~/Content/dist/img/right-home-image.png" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">SiyouParking</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/dist/img/avat.svg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                             style="opacity: .8">
                        <span id="spanUsername" class="text-light"></span>
                    </div>
                    <div class="info">
                        <a href="#" class="d-block"></a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2" id="admin">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <p class="nav-header">Menubar</p>
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="Mymenu">
                        <li class="nav-item has-treeview" id="users">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-secret"></i>
                                <p>
                                    Users
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="http://localhost:3156/Admins.cshtml" class="nav-link">
                                        <i class="nav-icon fas fa-user-circle"></i>
                                        <p>Admins</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://localhost:3156/Owners.cshtml" class="nav-link">
                                        <i class="nav-icon fas fa-user-circle"></i>
                                        <p>Owners</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview" id="par">
                            <a href="http://localhost:3156/Parking.cshtml" class="nav-link">
                                <i class="nav-icon fas fa-parking"></i>
                                <p>
                                    Parking
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" id="sess">
                            <a href="http://localhost:3156/ParkingSessions.cshtml" class="nav-link">
                                <i class="nav-icon fab fa-tripadvisor"></i>
                                <p>Sessions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3156/Renters.cshtml" id="renter" class="nav-link">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>
                                    Renters
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="http://localhost:3156/Vehicles.cshtml" id="veh" class="nav-link">
                                <i class="nav-icon fas fa-car"></i>
                                <p>
                                    Vehicle
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="http://localhost:3156/Contracts.cshtml" class="nav-link">
                                <i class="nav-icon fas fa-file-contract"></i>
                                <p>
                                    Contracts
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="http://localhost:3156/siyouTech.html" onclick="remove()" class="nav-link">
                                <i class="nav-icon  fas fa-sign-out-alt text-danger"></i>
                                <p>
                                    Logout
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper" style="min-height: 290px;">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <!-- Profile Image -->
                            <div class="card card-orange card-outline">
                                <div class="card-body box-profile" onclick="ProfileGet(this)">
                                    <div class="text-center">
                                        <img class="profile-user-img brand-image img-circle" src="~/Content/dist/img/avat.svg" alt="User profile picture">
                                    </div>
                                    <p class="profile-username text-center" id="sername"></p>
                                    <p class="profile-username text-center text-secondary" id="rolee"></p>
                                    <ul class="list-group list-group-unbordered mb-3">
                                        <li class="list-group-item">
                                            <i class="fas fa-envelope"></i>
                                            <input type="text" name="email" class="form-control-plaintext" placeholder="Email" autocomplete="off" id="emaill" readonly />
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fas fa-id-card"></i>
                                            <input type="text" name="name" class="form-control-plaintext" placeholder="Username" autocomplete="off" id="usee" readonly />
                                        </li>
                                    </ul>
                                   <div class="col-sm-6">
                                     <button type="button" class="btn bg-info" data-toggle='modal' data-target='#ProfileModal' onclick="UserGet(this);"><i class="fas fa-edit">Edit</i></button>
                                   </div>

                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="ModalForm">
                        <div class="form-group">
                            <input type="hidden" name="ID" class="form-control" id="editId" required>
                            <input type="hidden" name="usID" class="form-control" id="editusId" required>
                        </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" id="editemail" required autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" id="editusern" required autocomplete="off">
                            </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="editpass" required autocomplete="off">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" name="fname" class="form-control" id="editFirst" required autocomplete="off">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="text" name="lname" class="form-control" id="editlast" required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="address">Address</label>                               
                                    <input type="text" name="address" class="form-control" id="editaddress" required autocomplete="off">
                                </div>
                            <div class="form-group col-md-6">
                                <label for="phone">Phone</label>
                                <input type="text" name="phone" class="form-control" id="editphone" required autocomplete="off">
                            </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="updateUser(this); AdminUpdatee(this)" class="btn bg-info" data-id="Admin.Id+User.Id"><i class="fas fa-save"></i></button>
                                <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer">
        <strong class="text-navy" ></strong>
    </footer>


    <aside class="control-sidebar control-sidebar-dark"></aside>

    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Content/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Content/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i;
            input = document.getElementById("MySearch");
            filter = input.value.toUpperCase();
            ul = document.getElementById("Mymenu");
            li = ul.getElementsByTagName("li");

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
    <script type="text/javascript">
        var rol = window.localStorage.getItem("Role");
        $(document).ready(function () {
            if (rol == "Admin") {
                $('#renter').hide();
            };
        });
        $(document).ready(function () {
            if (rol == "Owner") {
                $('#renter').show();
            }
        });
    </script>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#rolee').text(localStorage.getItem("Role"));
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sername').text(localStorage.getItem("userName"));
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#spanUsername').text(localStorage.getItem("userName"));
    });

    function getrole(ctl) {
        var id = $(ctl).data("id");
        $.ajax({
            url: "/api/admins/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (Admin) {
                ConsadminToFields(Admin);
                ConUserGet(ctl);
            },
            error: function (request, message, error) {
                handleException(request, message, error);
            }
        });
    }
    function ConsadminToFields(Admin) {
        $("#consultId").val(Admin.Id);
        $("#consultuserId").val(Admin.UserId);
        $("#ConsName").val(Admin.FirstName);
        $("#ConsSurname").val(Admin.LastName);
        $("#Consphone").val(Admin.Phone);
        $("#Consaddress").val(Admin.Address);
        $("#ConBirth").val(Admin.Birth_date);
    }
    function ConUserGet(ctl) {
        var id = $("#consultuserId").val();
        $.ajax({
            url: "api/Register/Get/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (User) {
                ConsUserToFields(User);
            },
            error: function (request, message, error) {
                handleException(request, message, error);
            }
        });
    }
    function remove() {

        window.localStorage.clear();
    }
</script>
<script type="text/javascript">
            var roll = window.localStorage.getItem("Role");
            $(document).ready(function () {
                if (roll == "Admin") {
                    $('#veh').hide();
                };
            });
            $(document).ready(function () {
                if (roll == "Owner") {
                    $('#veh').show();
                }
            });
</script>
<script type="text/javascript">
    function ProfileGet(ctl) {
        var id = window.localStorage.getItem("ID");
        $.ajax({
            url: "api/Register/Get/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (User) {
                $("#emaill").val(User.Email);
                $("#usee").val(User.Username);
            },
            error: function (request, message, error) {
                handleException(request, message, error);
            },
        });
    }
</script>

<script type="text/javascript">
    var role2 = window.localStorage.getItem("Role");
    if (role2 == "Admin") {
        function UserGet(ctl) {
            var userid = window.localStorage.getItem("ID");
            $.ajax({
                url: "api/admins/USERIDD/" + userid,
                type: 'GET',
                dataType: 'json',
                success: function (Admin) {
                    UsToFields(Admin);
                    AdminProfil(ctl);
                },
                error: function (request, message, error) {
                    handleException(request, message, error);
                }
            });
        }
        function UsToFields(Admin) {           
            $("#editId").val(Admin.Id);
            $("#editFirst").val(Admin.FirstName);
            $("#editlast").val(Admin.LastName);
            $("#editphone").val(Admin.Phone);
            $("#editaddress").val(Admin.Address);
        }
    }
    function AdminProfil(ctl) {
        var id3 = window.localStorage.getItem("ID");
        $.ajax({
            url: "api/Register/Get/" + id3,
            type: 'GET',
            dataType: 'json',
            success: function (User) {
                $("#editemail").val(User.Email);
                $("#editusern").val(User.Username);
                $("#editpass").val(User.Password);
            },
            error: function (request, message, error) {
                handleException(request, message, error);
            },
        });
    }
</script>
<script type="text/javascript">
    var role3 = window.localStorage.getItem("Role");
    if (role3 == "Owner") {
        function UserGet(ctl) {
            var userid1 = window.localStorage.getItem("ID");
            $.ajax({
                url: "api/owners/GETUSERIDD/" + userid1,
                type: 'GET',
                dataType: 'json',
                success: function (Owner) {
                    OwnToFields(Owner);
                    OwnerProfil(ctl);
                },
                error: function (request, message, error) {
                    handleException(request, message, error);
                }
            });
        }
        function OwnToFields(Owner) {
            $("#editId").val(Owner.Id);
            $("#editFirst").val(Owner.FirstName);
            $("#editlast").val(Owner.LastName);
            $("#editphone").val(Owner.Phone);
            $("#editaddress").val(Owner.Adress);
        }
    }
    function OwnerProfil(ctl) {
        var id3 = window.localStorage.getItem("ID");
        $.ajax({
            url: "api/Register/Get/" + id3,
            type: 'GET',
            dataType: 'json',
            success: function (User) {
                $("#editusId").val(User.Id);
                $("#editemail").val(User.Email);
                $("#editpass").val(User.Password);
                $("#editusern").val(User.Username);
            },
            error: function (request, message, error) {
                handleException(request, message, error);
            },
        });
    }
</script>
<script type="text/javascript">
    //UPDATE
    var ro = window.localStorage.getItem("Role");
    if (ro == "Admin") {
        function AdminUpdatee(Admin) {
            var userid = window.localStorage.getItem("ID");
            var Admin = {};
            Admin.FirstName = $("#editFirst").val();
            Admin.LastName = $("#editlast").val();
            Admin.Phone = $("#editphone").val();
            Admin.Address = $("#editaddress").val();
            $.ajax({
                url: "api/admins/PutAdmin/" + userid,
                type: 'PUT',
                contentType:
                  "application/json;charset=utf-8",
                data: JSON.stringify(Admin),
                dataType: "JSON",
                success: function () {
                },

            });
        }

    function updateUser(User) {
        var id = window.localStorage.getItem("ID");
        var User = {};
        User.Email = $('#editemail').val();
        User.Username = $('#editusern').val();
        User.Password = $('#editpass').val();
        $.ajax({
            url: 'api/register/PutUs/' + id,
            method: 'PUT',
            contentType:
                  "application/json;charset=utf-8",
            data: JSON.stringify(User),
            dataType: "JSON",
            success: function (response) {
                window.location.href = "http://localhost:3156/Home.cshtml";
            },
        });
    }
    }

</script>
<style>
    .ProfileModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }
       .close {
        color: red;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
                 h5 {
         color: #0987a4;
        font-weight: bold;
        display: block;
        width: 150px;
        float: left;

 }
 label {
        color : #000;
        font-weight: bold;
        display: block;
        width: 150px;
        float: left;
    }
 label:after { content: ": " }
</style>